<mat-card>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Quantidade de Homens</mat-label>
            <input matInput placeholder="" name="qtdHomens" [(ngModel)]="qtdHomens">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Quantidade de Mulheres</mat-label>
            <input matInput placeholder="" name="qtdMulheres" [(ngModel)]="qtdMulheres">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="calcular()">Calcular</button>
    </form>
</mat-card>

<mat-card *ngIf="qtdPicanhaKg>0">
    <pre>
  Devem ser comprados:
  - {{qtdPicanhaKg.toFixed(1)}} kg de Picanha
  - {{refriGarrafa2Lt}} garrafas de 2 litros de refrigerante
  </pre>
</mat-card>